
@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@300;400;500;600;700;800 & display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Rubik', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #3E45FF, #0E1523);
    
}



nav{
    background: #404FDD;
    display: flex;
    justify-content: space-around;
    height: 6vh;
    width: 100%;
    
}
.logo img{
    margin-top: 10px;
    max-width: 28vh;
   width: 100%;
   
   
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;   
}

.nav-list li{
    margin-left: 38px;
}

.nav-list a{
    font-size: 2vh;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.9px;
    line-height: 28px;
    transition: 0.1s;
    
}

.nav-list a:hover{
    border-bottom: 2px solid #41C6BE;
}

.mobile-menu{
    cursor: pointer;
    margin-top: 7px;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    align-items: center;
}

@media (max-width: 999px) {

    body {
        overflow-x: hidden;
      }
      .nav-list {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #404fde;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 10;
      }

      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }
      .mobile-menu {
        display: block;
      }
    }
    
    .nav-list.active {
      transform: translateX(0);
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
  

/*----------------------------Área de apresentação-----------------------------------------*/

main.container{
  max-width: 74%;
  margin: 0 auto;
  
}


main.container .vector-apresentacao{
  background-image: url(imagens/Vector-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 20px;
  height: 91vh;

}

main .vector-apresentacao .apresentacao{
  position: relative;
  top: 50px;
  left: 150px;
  width: 86%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.texto-aps{
  color: #fff;
  text-align: center;
  margin-top: 70px;
}

.texto-aps h1{
  font-size: 1.9rem;
}

.texto-aps .aps{
  display: block;
  margin-top: 13px;
  letter-spacing: 1px;
  font-size: 30px;;
  margin-bottom: 20px;
}

.foto-aps img{
  display: block;
  max-width: 70vh;
  width: 100%;
}

.btn-apresentacao button{
  border: 0;
  width: 160px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #3E45FF;
}

.btn-apresentacao button{
  border: 2px solid #fff;
  width: 23vh;
  height: 50px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #3E45FF;
}

.btn-apresentacao button a{
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}

.btn-apresentacao button a:hover{
  color: #b2b9f8;
}

/*---------------------------- sobre mim -----------------------------------------*/

.vector-sobre{
  
  background-image: url(imagens/Frame-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 157vh;
}

.principal-sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.titulo-sobre{
  font-size: 40px;
  margin: 50px 0;
  color: white;
}

.vector-sobre .card-sobre{
  background-color: #fff;
  padding: 20px;
  width: 65%;
  border-radius: 20px;
}

.vector-sobre .texto-sobre{
  font-weight: 200;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #364AFF;
}

.imagem-sobre img{
  margin-left: 15vh;
  width: 64%;
}

/*---------------------------- Formação acadêmica -----------------------------------------*/
.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.titulo-formação{
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  padding-top: 25px;
}

.card-sobre2{
  align-items: center;
  background-image: url(imagens/Frame-3.png);
  background-color: #637BF3;
  width: 80%;
  height: 90%;
  border-radius: 20px;
  margin: 0 auto;
}

.texto-formação{
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 25px;
}

/*---------------------------- Projetos -----------------------------------------*/

.container3{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.card-sobre3{
  background-image: url(imagens/Frame-3.png);
  background-color: #637BF3;
  width: 80%;
  height: 100%;
  border-radius: 20px;
}

.conteudo-projeto{
  padding-left: 15%;
}

.projeto {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 50px;
  float: left;
  text-align: center;
  line-height: 200px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.projeto:hover {
  background-color: #999;
  color: #fff;
}

/*---------------------------- Entre em contato -----------------------------------------*/

.container4{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.card-sobre4{
  background-image: url(imagens/Frame-3.png);
  background-color: #637BF3;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],

textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.conteudo-contato{
  margin-left: 25%;
}



/*---------------------------- Minhas Shills -----------------------------------------*/

.card{
  height: 40vh;
}

.card-skills{
  align-items: center;
  background-image: url(imagens/Frame-3.png);
  background-color: #637BF3;
  width: 80%;
  height: 90%;
  border-radius: 20px;
  margin: 0 auto;
 
}


.titulo-skills{
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  padding-top: 25px;
}

.principal-skills{
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal-skills .icons img{
  padding: 40px;
  width: 90%;
}

.principal-skills .icons img:hover{
  background-color: white;
  border-radius: 10px;
  transition: 0.5s;
  padding: 10px 15px;
}